<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/style.css">
</head>
<body>
      <%- include("navbar") %>
   <div class="form-container">
    <h2>Add Task</h2>

    <form action="/add" method="POST">
      <!-- Field 1 -->
      <input type="text" name="title" placeholder="Enter task title" required>

      <!-- Field 2 -->
      <input type="text" name="description" placeholder="Enter description" required>

      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>