<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/submit">
    <input type="text" name="name" value="<%=result.name%>" placeholder="enter name"/>
     <input type="text" name="email" value="<%=result.email%>" placeholder="enter email"/>
      <input type="text" name="age" value="<%=result.age%>" placeholder="enter age"/>
      <button>submit</button>
    </form>
</body>
</html>