<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add new user</title>
</head>
<body>
    <form action="submit-user" method='post'>
<input type="text" name="name" placeholder="enter name"/>
<input type="text" name="age" placeholder="enter age"/>
<input type="text" name="email" placeholder="enter email"/>
<button>submit</button>
    </form>
</body>
</html>